/* src/components/MessageForm/MessageForm.css */
.message-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }
  
  .message-form-container {
    background: linear-gradient(135deg, #94addb, #1f0690);
    border-radius: 12px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .form-header {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center; /* Centers items vertically */
    position: relative; /* Allows absolute positioning of the close button */
  }
  
  .form-logo {
    height: 50px;
    display: block; /* Ensures the logo is treated as a block element */
  }
    /* Target the placeholder text to change its color */
.form-input::placeholder,
.form-textarea::placeholder {
  color: white; /* Set the placeholder color to white */
  opacity: 1; /* Ensure full opacity for better visibility */
}

  .close-btn {
    position: absolute;
    right: 15px; /* Position it to the right side */
    top: 15px; /* Position it to the top */
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
  }
  
  .form-title {
    font-size: 22px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .form-input:focus,
  .form-textarea:focus {
    border-color: #feaa00;
  }
  
  .form-textarea {
    min-height: 80px;
    resize: none;
  }
  
  .form-submit-btn {
    background-color: white;
    color: #5b4caf;
    padding: 10px 20px;
    border: none;
    margin-top: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    align-items: center;
  }
  
  .form-submit-btn:hover {
    background-color: #feaa00;
    color: white;
  }
  
  .form-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .icon-box {
    text-align: center;
  }
  
  .icon-box img {
    width: 40px;
    margin-bottom: 5px;
  }
  
  .icon-box p {
    color: white;
    font-size: 14px;
  }
  