.f-wrapper {
    background-color: black;
    color: white; /* Optional: to ensure text is visible against the black background */
}

.f-container {
    justify-content: space-between;
    padding: 1rem; /* Optional: add padding for better spacing */
}

.text2{
    font-size: 0.8rem;
}
.text3{
    font-size: 1.2rem;
}
.f-left {
    gap: 1rem;
}
.contact-info {
  font-size: 1rem; /* Adjust font size as needed */
}

/* Button.css */
.privacy-button {
  display: inline-block;


  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 16px;
  transition: background-color 0.3s ease;
 margin-right:5px;
}


.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

.f-right .primaryText{
    color: aliceblue;
    font-weight: 600;

}

.f-right .secondaryText{
    color: aliceblue;
    font-weight: 600;

}


@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }
    .f-container > div {
        align-items: center !important;
        text-align: center;
    }
    .f-right {
        justify-content: center;
    }
}
.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-weight: bold;
    color: black;
    height: 50px;
    padding: 0 20px; /* Adjust padding for responsive spacing */
  }
  
  .footer-left {
    margin-left: 210px;
  }
  
  .footer-right {
    margin-right: 45px;
  }
  
  .footer-link {
    display: flex;
    align-items: center;
  }
  
  .share-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px; /* Adjust margin as needed */
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .footer-left {
      margin-left: 20px;
    }
  
    .footer-right {
      margin-right: 1px;
    }
  
    .footer-container {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
  }
  